<ion-content fullscreen>

  <!-- header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Places To Go</ion-title>
    </ion-toolbar>
  </ion-header>
   <!-- header end -->

   <!-- button back -->
  <ion-button [routerLink]="['/']">Back</ion-button>

  <!-- input -->
  <ion-input 
    placeholder="enter todo" 
    autofocus="true" 
    (ionChange)="InputTodo($event.target.value)"></ion-input>
  <!-- input end -->

   <!-- button add todo -->
  <ion-button (click)="createTodo()" color="secondary" expand="block">
    Add todo
    <ion-icon name="add-circle" slot="start"></ion-icon>
  </ion-button>
  <!-- button add todo -->

  <!-- todo -->
  <ion-list lines="none">
    <ion-item  *ngFor="let todo of todos" >
      <ion-icon (click)="toggleTodo(todo)" [name]="getIcon(todo)" slot="start">
      </ion-icon>
      <div slot="start">
        {{todo.note}}
      </div>
      <div slot="end">
        <ion-icon (click)="removeTodo(todo.title)" name="close-outline"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <!-- todo end -->

</ion-content>